@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

/* Hide arrows for number inputs in Chrome, Safari, Edge, and Opera */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows for number inputs in Firefox */
.no-arrows {
  -moz-appearance: textfield;
}


/* WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: transparent; /* Makes the track transparent */
}

::-webkit-scrollbar-thumb {
  background: #403F3F; /* Scrollbar color */
  border-radius: 12px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #2e2d2d; /* Darker color on hover */
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

html {
  @apply font-poppins;
}


.header {
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background: var(--bg-image);
  background-size: cover;
  background-position: center; 
  filter: blur(5px);
  opacity: 0.5;
  z-index: -1;
}

.bgOrenNoHover{
  background: #FD5F00;
}

.bgOren {
  background: #FD5F00;
  border: 2.5px solid transparent;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.bgOren:hover {
  border: 2.5px solid #fff;
}


.bgItam{
 background: #171717
}

.bgItam2{
  background: #27272A
 }

.textOren{
  color: #FD5F00;
}

.bgAbu{
  background: #2c2c2c;
}

.bgAbu2{
  background: #403F3F;
}

.chList {
  background: #2c2c2c;
  border: 2.5px solid transparent;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.chList:hover {
  border: 2.5px solid #FD5F00;
}


.bgAbuHover {
  background: #2c2c2c;
  border: 2.5px solid transparent;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.bgAbuHover:hover {
  border: 2.5px solid #FD5F00;
}

.bgAbuHover:disabled {
  opacity: 50%;
  cursor: default;
  border: 2.5px solid transparent;
}


.bgAbuHoverActive {
  background: #2c2c2c;
  border: 2.5px solid transparent;
  border: 2.5px solid #FD5F00;
}


.bgAbu2Hover{
  background: #403F3F;
  border: 2.5px solid transparent;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.bgAbu2Hover:hover {
  border: 2.5px solid #FD5F00;
}

.bgAbu2HoverActive {
  background: #403F3F;
  border: 2.5px solid transparent;
  border: 2.5px solid #FD5F00;
}

.bgIjo{
  background: #51AF5B;
}

.autocomplete{
  background: #2c2c2c;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

select {
  width: 100%;
  display: block; /* Ensures it respects the full width */
}
