@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

/* Hide arrows for number inputs in Chrome, Safari, Edge, and Opera */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows for number inputs in Firefox */
.no-arrows {
  -moz-appearance: textfield;
}


/* WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: transparent; /* Makes the track transparent */
}

::-webkit-scrollbar-thumb {
  background: #403F3F; /* Scrollbar color */
  border-radius: 12px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #2e2d2d; /* Darker color on hover */
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

html {
  @apply font-poppins;
}


.header {
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-image);
  background-size: cover;
  filter: blur(5px);
  opacity: 0.5;
  z-index: -1;
}


.bgOren{
  background: #FD5F00;
}

.bgItam{
 background: #171717
}
.textOren{
  color: #FD5F00;
}

.bgAbu{
  background: #403F3F;
}

.bgIjo{
  background: #51AF5B;
}

.autocomplete{
  background: #403F3F;

}